* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url('./images/jeremy-thomas-4dpAqfTbvKA-unsplash.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
}
.title {
    padding-top: .5em;
    font-size: 1.5em;
}
.score {
    font-size: 3em;
}
.buttons {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100vw;

}
.button {
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    background-color: rgba(66, 78, 126, .5);
    min-width: 1rem;
    padding: .5rem;
    margin: 1rem;
}
#screen {
    border: 2px solid #fff;
}
