<!DOCTYPE html>
<html lang-"en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Critical Space Strike</title>
        <link rel="stylesheet" href='static/styles.css'>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}">
    </head>
    <body >
        <div class="container">
        <header class="title">
            <h1>Critical Space Strike</h1>
        </header>
        <div class="info">
            <div>
                <div class="button title">FUEL LEFT</div>
                <div id="fuel">12</div>
            </div>
            <a href="/" class="button title">NEW GAME</a>
            <div id="score">0000</div>
            <a href="/scores" class=" button title">SHOW SCORES</a>
            <div>
                <div class="button title">HIGH SCORE</div>
                <div id="high_score">3600</div>
            </div>
        </div>
      </div>
        <main>

            <canvas id="screen">
            </canvas>
            <div class="buttons">
                <button onclick="move_player_left()" class="button title">LEFT</button>
                <button onclick="shoot_laser()" class="button title">SHOOT</button>
                <button onclick="move_player_right()" class="button title">RIGHT</button>
            </div>
        </main>
        </div>
        <script src="../static/scripts.js"></script>
    </body>
</html>
