<!DOCTYPE html>
<html lang-"en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Critical Space Strike</title>
        <link rel="stylesheet" href='../static/styles.css'>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}">
    </head>
    <body>
        <div class="container">
        <header class="title">
            <h1>Critical Space Strike</h1>
        </header>
        <main>
            <h2 class="scores--title">High Scores</h2>
            {% if scores %}
            <ul >
            {% for score in scores %}
                <li class="scores_list" ><p class="scores_list--item">{{score.player}}</p><p class="scores_list--item">{{score.score}}</p></li>
            {% endfor %}
            </ul>
            {% endif %}
            <form action="/scores" method="post">
                <h2>YOUR SCORE</h2>
                <label class='new_score--title'>Player Name</label>
                <input name="player" type='text' id="player_name"><br>
                <label class='new_score--title'>Score</label>
                <input name="new_score" type='text' id="new_score" ><br>
                <button class='button'>Submit Your Score</button>
            </form>
            <a href="/" class="button">START NEW GAME</a>
        </main>
        </div>
    </body>
</html>
"